button, .btn {
	background: $themecolor;
	border: none;
	color: white;
	padding: 1rem 3rem;
	font-size: 1.6rem;
	transition: all .2s;
}

button:hover, .btn:hover {
	color: white;
    box-shadow: inset 0px 0px 5px black;
}

.mainbutton {
	font-size: 2.5rem;
}

.themebutton {
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-transform: uppercase;
}