$themecolor-1: #5F68BC;
$themecolor-2: #BD6498;
$themecolor-3: #5BBAB4;

.themecolor-1 { 
	background: $themecolor-1;
}

.themecolor-2 { 
	background: $themecolor-2;
}

.themecolor-3 { 
	background: $themecolor-3;
}
