.progress--theme {
	margin: 0;
	padding: 1rem 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

.progress--question {
	background: #d8d8d8;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	cursor: pointer;
	// border: 1.4px solid #ffffff;
	box-sizing: border-box;
	box-shadow: inset 2px 2px 1px black;
}

.questioncomplete {
	background: #60cbe4;
}

.active {
	border: 2px solid white;
}